-- Add direction column to bridge_transactions to distinguish inbound vs outbound transfers.
-- INBOUND  = external chain ΓåÆ Stellar  (original fund-wallet flow)
-- OUTBOUND = Stellar ΓåÆ external chain  (new withdraw/send-to-chain flow)

ALTER TABLE bridge_transactions
    ADD COLUMN IF NOT EXISTS direction VARCHAR(10) NOT NULL DEFAULT 'INBOUND'
        CHECK (direction IN ('INBOUND', 'OUTBOUND'));

-- Index for filtering by direction in admin dashboards and pollers.
CREATE INDEX IF NOT EXISTS idx_bridge_tx_direction ON bridge_transactions(direction);
